@import 'variables.scss';
// .button {
//   background: #de1149;
//   border: 1px solid rgba(255, 255, 255, 0.2);
//   box-shadow: -3px 3px 6px rgba(213, 16, 70, 0.2),
//     3px -3px 6px rgba(213, 16, 70, 0.2), -3px -3px 6px rgba(231, 18, 76, 0.9),
//     3px 3px 8px rgba(213, 16, 70, 0.9), inset 1px 1px 2px rgba(231, 18, 76, 0.3),
//     inset -1px -1px 2px rgba(213, 16, 70, 0.5);
//   border-radius: 12px;
// }
.buttonDark {
  @extend .button;
  color: $bg;
  background: $dark-button;
  box-shadow: $dark-button-s;
  &:hover {
    box-shadow: $dark-button-s-h;
  }
}

.link {
  font-family: 'Satoshi', sans-serif;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  color: $sec;
  transition: all 300ms ease-in-out;
  &:hover {
    transition: all 300ms ease-in-out;
    color: $main;
    text-decoration: underline;
  }
}

.iconButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: none;
  background: $button;
  box-shadow: $button-shadow;
  transition: all 300ms ease-in-out;
  &:hover {
    transition: all 300ms ease-in-out;
    box-shadow: $button-shadow-h;
  }
  &Dark {
    @extend .iconButton;
    background: $dark-button;
    box-shadow: $dark-button-s;
    &:hover {
      box-shadow: $dark-button-s-h;
    }
  }
}

.rounded {
  border-radius: 999px;
}

.navbarBtn {
  cursor: pointer;
  @extend .iconButton;
  @extend .rounded;
  height: 50px;
  width: 50px;
  & svg {
    width: 30px;
    height: 30px;
  }
  &Dark {
    @extend .iconButtonDark;
    @extend .rounded;
    width: 50px;
    height: 50px;
  }

  &Active {
    @extend .iconButton;
    padding: 0 15px;
    width: fit-content;
    height: 50px;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    background: $input;
    box-shadow: $input-shadow;
    font-family: 'Nasalization', 'Satoshi', sans-serif;
    color: $main;
    & svg {
      margin-right: 10px;
    }
    &Dark {
      @extend .navbarBtnActive;
      background: $input-dark;
      box-shadow: $input-dark-s;
      &:hover {
        box-shadow: $dark-flat;
      }
    }
  }
}
.inputWrapper {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.input {
  max-width: 200px;
  height: 50px;
  line-height: 50px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 0 60px 0 20px;
  border: none;
  border-radius: 8px;
  background: $input;
  box-shadow: $input-shadow;
  transition: all 300ms ease-in-out;
  &:focus {
    outline: none;
    box-shadow: $input-shadow-h;
    transition: all 300ms ease-in-out;
  }
  & ~ svg {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
}
.inputDark {
  @extend .input;
  background: $input-dark;
  box-shadow: $input-dark-s;
  color: $bg;
  &:focus {
    outline: none;
    box-shadow: $dark-flat;
  }
}
.textareaproperties {
  padding: 25px 20px;
  line-height: 20px;
  width: 200px;
  height: 100px;
  min-width: 200px;
  max-width: 200px;
  min-height: 150px;
  max-height: 300px;
  transition: none;
}
.textarea {
  @extend .input;
  @extend .textareaproperties;
  &Dark {
    @extend .inputDark;
    @extend .textareaproperties;
  }
}

.radio {
  background: $input;
  box-shadow: $input-shadow;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  overflow: hidden;
  &__inner {
    width: 0px;
    height: 0px;
    border-radius: 999px;
    transition: all 300ms ease-in-out;
    &Active {
      border-radius: 999px;
      background: $main;
      box-shadow: $main-shadow;
      transition: all 300ms ease-in-out;
      width: 20px;
      height: 20px;
    }
  }
  &Dark {
    @extend .radio;
    background: $input-dark;
    box-shadow: $input-dark-s;
    & .radio__inner {
      @extend .radio__inner;
      &Active {
        @extend .radio__innerActive;
        background: $main;
        box-shadow: $main-shadow;
      }
    }
  }
}

.checkbox {
  @extend .radio;
  border-radius: 8px;

  &__inner {
    @extend .radio__inner;
    border-radius: 8px;
    &Active {
      border-radius: 8px;
      @extend .radio__innerActive;
      width: 20px;
      height: 20px;
    }
  }
}

.checkboxDark {
  @extend .checkbox;
  background: $input-dark;
  box-shadow: $input-dark-s;
  & .checkbox__inner {
    @extend .checkbox__inner;
    &Active {
      @extend .checkbox__innerActive;
      background: $main;
      box-shadow: $main-shadow;
    }
  }
}

.spotlight {
  @extend .radio;
  width: 79px;
  height: 79px;

  &__inner {
    @extend .radio__inner;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: $button;
    box-shadow: $button-shadow;

    &Active {
      @extend .spotlight__inner;
      width: 54px;
      height: 54px;
      background: $main;
      box-shadow: $main-shadow;
    }
  }
}

.spotlightDark {
  @extend .spotlight;
  background: $input-dark;
  box-shadow: $input-dark-s;
  & .spotlight__inner {
    @extend .spotlight__inner;
    background: $dark-button;
    box-shadow: $dark-button-s;
    &Active {
      @extend .spotlight__innerActive;
      background: $main;
      box-shadow: $main-shadow;
    }
  }
}

.select__inner {
  font-family: 'Satoshi', sans-serif;
  background: $button;
  box-shadow: $button-shadow;
  color: #171717;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 30px;
  padding: 0 20px;
  height: 40px;
  width: 200px;
  margin-bottom: 20px;
  transition: all 300ms ease-in-out;
  &Dark {
    @extend .select__inner;
    color: $bg;
    background: $dark-button;
    box-shadow: $dark-button-s;
  }
}

.select__options {
  background: $bg;
  background: $button;
  box-shadow: $button-shadow;
  overflow: hidden;
  width: 240px;
  border-radius: 8px;
  margin-bottom: 20px;
  & div {
    padding: 0 40px;
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    line-height: 50px;
    &:hover {
      cursor: pointer;
      font-weight: 900;
      background: #d9d9d930;
    }
  }
}

.select__optionsDark {
  @extend .select__options;
  background: $dark-button;
  box-shadow: $dark-button-s;

  & div {
    color: $bg;
    &:hover {
      background: #d9d9d930;
    }
  }
}
