@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap");
@font-face {
  font-family: "Nasalization";
  src: url("https://tdm.ar/nasalization-rg-webfont.ttf");
  font-display: swap;
}
.flat-light {
  border-radius: 12px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  padding: 30px 40px;
  background-color: #f9f9f9;
  box-shadow: -33px 33px 66px rgba(224, 224, 224, 0.2), 33px -33px 66px rgba(224, 224, 224, 0.2), -33px -33px 66px rgba(255, 255, 255, 0.9), 33px 33px 83px rgba(224, 224, 224, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(224, 224, 224, 0.5);
}
.flat-light > h1, .flat-light > h2, .flat-light > h3, .flat-light > h4, .flat-light > p {
  text-align: center;
}

.inputLight {
  background: #f9f9f9;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(204, 204, 204, 0.5), inset -5px 5px 10px rgba(204, 204, 204, 0.2), inset 5px -5px 10px rgba(204, 204, 204, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(204, 204, 204, 0.9);
  border-radius: 8px;
  height: 50px;
  padding: 0 20px;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  border: none;
  transition: all 300ms ease-in-out;
  /* hide arrows
  Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.inputLight:hover, .inputLight:focus {
  transition: all 300ms ease-in-out;
  outline: none;
  box-shadow: -5px 5px 10px rgba(204, 204, 204, 0.2), 5px -5px 10px rgba(204, 204, 204, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(204, 204, 204, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(204, 204, 204, 0.5);
}
.inputLight::-webkit-outer-spin-button, .inputLight::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
.inputLight[type=number] {
  -moz-appearance: textfield !important;
}

.button, .buttonDark, .buttonSecondary, .buttonMain {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 30px 0 0 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  background: linear-gradient(135deg, #e9e9e9 0%, #ffffff 100%);
  box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), 5px -5px 10px rgba(220, 220, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 220, 220, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 220, 220, 0.5);
  border: none;
  color: #32383d;
}
.button:hover, .buttonDark:hover, .buttonSecondary:hover, .buttonMain:hover {
  transition: all 300ms ease-in-out;
  box-shadow: -5px 5px 10px rgba(195, 195, 195, 0.2), 5px -5px 10px rgba(195, 195, 195, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(195, 195, 195, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(195, 195, 195, 0.5);
}
.buttonMain {
  background: linear-gradient(135deg, #e9124d 0%, #d31045 100%);
  border: none;
  box-shadow: -2px 2px 4px rgba(200, 15, 66, 0.2), 2px -2px 4px rgba(200, 15, 66, 0.2), -2px -2px 4px rgba(244, 19, 80, 0.9), 2px 2px 5px rgba(200, 15, 66, 0.9), inset 1px 1px 2px rgba(244, 19, 80, 0.3), inset -1px -1px 2px rgba(200, 15, 66, 0.5);
  color: #f9f9f9;
}
.buttonMain:hover {
  box-shadow: -5px 5px 10px rgba(200, 15, 66, 0.2), 5px -5px 10px rgba(200, 15, 66, 0.2), -5px -5px 10px rgba(244, 19, 80, 0.9), 5px 5px 13px rgba(200, 15, 66, 0.9), inset 1px 1px 2px rgba(244, 19, 80, 0.3), inset -1px -1px 2px rgba(200, 15, 66, 0.5);
}
.buttonSecondary {
  color: #f9f9f9;
  background: linear-gradient(135deg, #3b3b3e 0%, #353538 100%);
  box-shadow: -2px 2px 4px rgba(50, 50, 53, 0.2), 2px -2px 4px rgba(50, 50, 53, 0.2), -2px -2px 4px rgba(62, 62, 65, 0.9), 2px 2px 5px rgba(50, 50, 53, 0.9), inset 1px 1px 2px rgba(62, 62, 65, 0.3), inset -1px -1px 2px rgba(50, 50, 53, 0.5);
  border-radius: 12px;
}

.linkAnimated {
  text-align: right;
  color: #de1149;
  padding: 3px 10px;
  font-family: "Satoshi";
  font-size: 14px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}
.linkAnimated:hover {
  color: #de1149;
}
.linkAnimated::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #de1149;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
}
.linkAnimated:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.linkAnimated:hover, .linkAnimated:focus {
  outline: none;
}
.linkAnimated:hover, .linkAnimated:focus, .linkAnimated:active {
  color: #de1149;
}

.buttonDark {
  color: #f9f9f9;
  background: linear-gradient(135deg, #30353a 0%, #363b40 100%);
  box-shadow: -5px 5px 10px rgba(41, 45, 49, 0.2), 5px -5px 10px rgba(41, 45, 49, 0.2), -5px -5px 10px rgba(61, 67, 73, 0.9), 5px 5px 13px rgba(41, 45, 49, 0.9), inset 1px 1px 2px rgba(61, 67, 73, 0.3), inset -1px -1px 2px rgba(41, 45, 49, 0.5);
}
.buttonDark:hover {
  box-shadow: -5px 5px 10px rgba(35, 39, 42, 0.2), 5px -5px 10px rgba(35, 39, 42, 0.2), -5px -5px 10px rgba(67, 73, 80, 0.9), 5px 5px 13px rgba(35, 39, 42, 0.9), inset 1px 1px 2px rgba(67, 73, 80, 0.3), inset -1px -1px 2px rgba(35, 39, 42, 0.5);
}

.link {
  font-family: "Satoshi", sans-serif;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  color: #32383d;
  transition: all 300ms ease-in-out;
}
.link:hover {
  transition: all 300ms ease-in-out;
  color: #de1149;
  text-decoration: underline;
}

.iconButton, .navbarBtnActive, .navbarBtnActiveDark, .navbarBtn, .iconButtonDark, .navbarBtnDark {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, #e9e9e9 0%, #ffffff 100%);
  box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), 5px -5px 10px rgba(220, 220, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 220, 220, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 220, 220, 0.5);
  transition: all 300ms ease-in-out;
}
.iconButton:hover, .navbarBtnActive:hover, .navbarBtnActiveDark:hover, .navbarBtn:hover, .iconButtonDark:hover, .navbarBtnDark:hover {
  transition: all 300ms ease-in-out;
  box-shadow: -5px 5px 10px rgba(143, 143, 143, 0.2), 5px -5px 10px rgba(143, 143, 143, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(143, 143, 143, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(143, 143, 143, 0.5);
}
.iconButtonDark, .navbarBtnDark {
  background: linear-gradient(135deg, #30353a 0%, #363b40 100%);
  box-shadow: -5px 5px 10px rgba(41, 45, 49, 0.2), 5px -5px 10px rgba(41, 45, 49, 0.2), -5px -5px 10px rgba(61, 67, 73, 0.9), 5px 5px 13px rgba(41, 45, 49, 0.9), inset 1px 1px 2px rgba(61, 67, 73, 0.3), inset -1px -1px 2px rgba(41, 45, 49, 0.5);
}
.iconButtonDark:hover, .navbarBtnDark:hover {
  box-shadow: -5px 5px 10px rgba(35, 39, 42, 0.2), 5px -5px 10px rgba(35, 39, 42, 0.2), -5px -5px 10px rgba(67, 73, 80, 0.9), 5px 5px 13px rgba(35, 39, 42, 0.9), inset 1px 1px 2px rgba(67, 73, 80, 0.3), inset -1px -1px 2px rgba(35, 39, 42, 0.5);
}

.rounded, .navbarBtnDark, .navbarBtn {
  border-radius: 999px;
}

.navbarBtn {
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.navbarBtn svg {
  width: 30px;
  height: 30px;
}
.navbarBtnDark {
  width: 50px;
  height: 50px;
}
.navbarBtnActive, .navbarBtnActiveDark {
  padding: 0 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  font-weight: normal;
  font-size: 15px;
  line-height: 14px;
  background: #f4f4f4;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(220, 220, 220, 0.5), inset -5px 5px 10px rgba(220, 220, 220, 0.2), inset 5px -5px 10px rgba(220, 220, 220, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(220, 220, 220, 0.9);
  font-family: "Nasalization", "Satoshi", sans-serif;
  color: #de1149;
}
.navbarBtnActive svg, .navbarBtnActiveDark svg {
  margin-right: 10px;
}
.navbarBtnActiveDark {
  background: #33383d;
  box-shadow: 1px 1px 2px rgba(61, 67, 73, 0.3), -1px -1px 2px rgba(41, 45, 49, 0.5), inset -5px 5px 10px rgba(41, 45, 49, 0.2), inset 5px -5px 10px rgba(41, 45, 49, 0.2), inset -5px -5px 10px rgba(61, 67, 73, 0.9), inset 5px 5px 13px rgba(41, 45, 49, 0.9);
}
.navbarBtnActiveDark:hover {
  box-shadow: -5px 5px 10px rgba(41, 45, 49, 0.2), 5px -5px 10px rgba(41, 45, 49, 0.2), -5px -5px 10px rgba(61, 67, 73, 0.9), 5px 5px 13px rgba(41, 45, 49, 0.9), inset 1px 1px 2px rgba(61, 67, 73, 0.3), inset -1px -1px 2px rgba(41, 45, 49, 0.5);
}

.inputWrapper {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.input, .textarea, .inputDark, .textareaDark {
  max-width: 200px;
  height: 50px;
  line-height: 50px;
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 0 60px 0 20px;
  border: none;
  border-radius: 8px;
  background: #f4f4f4;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(220, 220, 220, 0.5), inset -5px 5px 10px rgba(220, 220, 220, 0.2), inset 5px -5px 10px rgba(220, 220, 220, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(220, 220, 220, 0.9);
  transition: all 300ms ease-in-out;
}
.input:focus, .textarea:focus, .inputDark:focus, .textareaDark:focus {
  outline: none;
  box-shadow: -5px 5px 10px rgba(202, 202, 202, 0.2), 5px -5px 10px rgba(202, 202, 202, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(202, 202, 202, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(202, 202, 202, 0.5);
  transition: all 300ms ease-in-out;
}
.input ~ svg, .textarea ~ svg, .inputDark ~ svg, .textareaDark ~ svg {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.inputDark, .textareaDark {
  background: #33383d;
  box-shadow: 1px 1px 2px rgba(61, 67, 73, 0.3), -1px -1px 2px rgba(41, 45, 49, 0.5), inset -5px 5px 10px rgba(41, 45, 49, 0.2), inset 5px -5px 10px rgba(41, 45, 49, 0.2), inset -5px -5px 10px rgba(61, 67, 73, 0.9), inset 5px 5px 13px rgba(41, 45, 49, 0.9);
  color: #f9f9f9;
}
.inputDark:focus, .textareaDark:focus {
  outline: none;
  box-shadow: -5px 5px 10px rgba(41, 45, 49, 0.2), 5px -5px 10px rgba(41, 45, 49, 0.2), -5px -5px 10px rgba(61, 67, 73, 0.9), 5px 5px 13px rgba(41, 45, 49, 0.9), inset 1px 1px 2px rgba(61, 67, 73, 0.3), inset -1px -1px 2px rgba(41, 45, 49, 0.5);
}

.textareaproperties, .textareaDark, .textarea {
  padding: 25px 20px;
  line-height: 20px;
  width: 200px;
  height: 100px;
  min-width: 200px;
  max-width: 200px;
  min-height: 150px;
  max-height: 300px;
  transition: none;
}

.radio, .spotlight, .spotlightDark, .checkbox, .checkboxDark, .radioDark {
  background: #f4f4f4;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(220, 220, 220, 0.5), inset -5px 5px 10px rgba(220, 220, 220, 0.2), inset 5px -5px 10px rgba(220, 220, 220, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(220, 220, 220, 0.9);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.radio__inner, .spotlight__inner, .spotlightDark .spotlight__inner, .spotlight__innerActive, .spotlightDark .spotlight__innerActive, .checkbox__inner, .checkboxDark .checkbox__inner, .radioDark .radio__inner {
  width: 0px;
  height: 0px;
  border-radius: 999px;
  transition: all 300ms ease-in-out;
}
.radio__innerActive, .checkbox__innerActive, .checkboxDark .checkbox__innerActive, .radioDark .radio__innerActive {
  border-radius: 999px;
  background: #de1149;
  box-shadow: -5px 5px 10px rgba(180, 14, 59, 0.2), 5px -5px 10px rgba(180, 14, 59, 0.2), -5px -5px 10px rgba(255, 20, 87, 0.9), 5px 5px 13px rgba(180, 14, 59, 0.9), inset 1px 1px 2px rgba(255, 20, 87, 0.3), inset -1px -1px 2px rgba(180, 14, 59, 0.5);
  transition: all 300ms ease-in-out;
  width: 20px;
  height: 20px;
}
.radioDark {
  background: #33383d;
  box-shadow: 1px 1px 2px rgba(61, 67, 73, 0.3), -1px -1px 2px rgba(41, 45, 49, 0.5), inset -5px 5px 10px rgba(41, 45, 49, 0.2), inset 5px -5px 10px rgba(41, 45, 49, 0.2), inset -5px -5px 10px rgba(61, 67, 73, 0.9), inset 5px 5px 13px rgba(41, 45, 49, 0.9);
}
.radioDark .radio__innerActive, .radioDark .checkbox__innerActive {
  background: #de1149;
  box-shadow: -5px 5px 10px rgba(180, 14, 59, 0.2), 5px -5px 10px rgba(180, 14, 59, 0.2), -5px -5px 10px rgba(255, 20, 87, 0.9), 5px 5px 13px rgba(180, 14, 59, 0.9), inset 1px 1px 2px rgba(255, 20, 87, 0.3), inset -1px -1px 2px rgba(180, 14, 59, 0.5);
}

.checkbox, .checkboxDark {
  border-radius: 8px;
}
.checkbox__inner, .checkboxDark .checkbox__inner {
  border-radius: 8px;
}
.checkbox__innerActive, .checkboxDark .checkbox__innerActive {
  border-radius: 8px;
  width: 20px;
  height: 20px;
}

.checkboxDark {
  background: #33383d;
  box-shadow: 1px 1px 2px rgba(61, 67, 73, 0.3), -1px -1px 2px rgba(41, 45, 49, 0.5), inset -5px 5px 10px rgba(41, 45, 49, 0.2), inset 5px -5px 10px rgba(41, 45, 49, 0.2), inset -5px -5px 10px rgba(61, 67, 73, 0.9), inset 5px 5px 13px rgba(41, 45, 49, 0.9);
}
.checkboxDark .checkbox__innerActive {
  background: #de1149;
  box-shadow: -5px 5px 10px rgba(180, 14, 59, 0.2), 5px -5px 10px rgba(180, 14, 59, 0.2), -5px -5px 10px rgba(255, 20, 87, 0.9), 5px 5px 13px rgba(180, 14, 59, 0.9), inset 1px 1px 2px rgba(255, 20, 87, 0.3), inset -1px -1px 2px rgba(180, 14, 59, 0.5);
}

.spotlight, .spotlightDark {
  width: 79px;
  height: 79px;
}
.spotlight__inner, .spotlightDark .spotlight__inner, .spotlight__innerActive, .spotlightDark .spotlight__innerActive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: linear-gradient(135deg, #e9e9e9 0%, #ffffff 100%);
  box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), 5px -5px 10px rgba(220, 220, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 220, 220, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 220, 220, 0.5);
}
.spotlight__innerActive, .spotlightDark .spotlight__innerActive {
  width: 54px;
  height: 54px;
  background: #de1149;
  box-shadow: -5px 5px 10px rgba(180, 14, 59, 0.2), 5px -5px 10px rgba(180, 14, 59, 0.2), -5px -5px 10px rgba(255, 20, 87, 0.9), 5px 5px 13px rgba(180, 14, 59, 0.9), inset 1px 1px 2px rgba(255, 20, 87, 0.3), inset -1px -1px 2px rgba(180, 14, 59, 0.5);
}

.spotlightDark {
  background: #33383d;
  box-shadow: 1px 1px 2px rgba(61, 67, 73, 0.3), -1px -1px 2px rgba(41, 45, 49, 0.5), inset -5px 5px 10px rgba(41, 45, 49, 0.2), inset 5px -5px 10px rgba(41, 45, 49, 0.2), inset -5px -5px 10px rgba(61, 67, 73, 0.9), inset 5px 5px 13px rgba(41, 45, 49, 0.9);
}
.spotlightDark .spotlight__inner, .spotlightDark .spotlight__innerActive {
  background: linear-gradient(135deg, #30353a 0%, #363b40 100%);
  box-shadow: -5px 5px 10px rgba(41, 45, 49, 0.2), 5px -5px 10px rgba(41, 45, 49, 0.2), -5px -5px 10px rgba(61, 67, 73, 0.9), 5px 5px 13px rgba(41, 45, 49, 0.9), inset 1px 1px 2px rgba(61, 67, 73, 0.3), inset -1px -1px 2px rgba(41, 45, 49, 0.5);
}
.spotlightDark .spotlight__innerActive {
  background: #de1149;
  box-shadow: -5px 5px 10px rgba(180, 14, 59, 0.2), 5px -5px 10px rgba(180, 14, 59, 0.2), -5px -5px 10px rgba(255, 20, 87, 0.9), 5px 5px 13px rgba(180, 14, 59, 0.9), inset 1px 1px 2px rgba(255, 20, 87, 0.3), inset -1px -1px 2px rgba(180, 14, 59, 0.5);
}

.select__inner, .select__innerDark {
  font-family: "Satoshi", sans-serif;
  background: linear-gradient(135deg, #e9e9e9 0%, #ffffff 100%);
  box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), 5px -5px 10px rgba(220, 220, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 220, 220, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 220, 220, 0.5);
  color: #171717;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 30px;
  padding: 0 20px;
  height: 40px;
  width: 200px;
  margin-bottom: 20px;
  transition: all 300ms ease-in-out;
}
.select__innerDark {
  color: #f9f9f9;
  background: linear-gradient(135deg, #30353a 0%, #363b40 100%);
  box-shadow: -5px 5px 10px rgba(41, 45, 49, 0.2), 5px -5px 10px rgba(41, 45, 49, 0.2), -5px -5px 10px rgba(61, 67, 73, 0.9), 5px 5px 13px rgba(41, 45, 49, 0.9), inset 1px 1px 2px rgba(61, 67, 73, 0.3), inset -1px -1px 2px rgba(41, 45, 49, 0.5);
}

.select__options, .select__optionsDark {
  cursor: pointer;
  background: #f9f9f9;
  background: linear-gradient(135deg, #e9e9e9 0%, #ffffff 100%);
  box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), 5px -5px 10px rgba(220, 220, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 220, 220, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 220, 220, 0.5);
  overflow: hidden;
  width: 240px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.select__options div, .select__optionsDark div {
  padding: 0 40px;
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  line-height: 50px;
}
.select__options div:hover, .select__optionsDark div:hover {
  cursor: pointer;
  font-weight: 900;
  background: rgba(217, 217, 217, 0.1882352941);
}

.select__optionsDark {
  background: linear-gradient(135deg, #30353a 0%, #363b40 100%);
  box-shadow: -5px 5px 10px rgba(41, 45, 49, 0.2), 5px -5px 10px rgba(41, 45, 49, 0.2), -5px -5px 10px rgba(61, 67, 73, 0.9), 5px 5px 13px rgba(41, 45, 49, 0.9), inset 1px 1px 2px rgba(61, 67, 73, 0.3), inset -1px -1px 2px rgba(41, 45, 49, 0.5);
}
.select__optionsDark div {
  color: #f9f9f9;
}
.select__optionsDark div:hover {
  background: rgba(217, 217, 217, 0.1882352941);
}

.switch, .switchDark {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 106px;
  height: 50px;
  padding: 9px;
  border-radius: 12px;
  background: #f9f9f9;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(220, 220, 220, 0.5), inset -5px 5px 10px rgba(220, 220, 220, 0.2), inset 5px -5px 10px rgba(220, 220, 220, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(220, 220, 220, 0.9);
}
.switch__inner, .switchDark .switch__inner, .switch__innerActive, .switchDark .switch__innerActive {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
}
.switch__innerActive, .switchDark .switch__innerActive {
  background: #de1149;
  box-shadow: -5px 5px 10px rgba(180, 14, 59, 0.2), 5px -5px 10px rgba(180, 14, 59, 0.2), -5px -5px 10px rgba(255, 20, 87, 0.9), 5px 5px 13px rgba(180, 14, 59, 0.9), inset 1px 1px 2px rgba(255, 20, 87, 0.3), inset -1px -1px 2px rgba(180, 14, 59, 0.5);
  border-radius: 8px;
  transition: all 300ms ease-in-out;
}

.switchDark {
  background: #33383d;
  box-shadow: 1px 1px 2px rgba(61, 67, 73, 0.3), -1px -1px 2px rgba(41, 45, 49, 0.5), inset -5px 5px 10px rgba(41, 45, 49, 0.2), inset 5px -5px 10px rgba(41, 45, 49, 0.2), inset -5px -5px 10px rgba(61, 67, 73, 0.9), inset 5px 5px 13px rgba(41, 45, 49, 0.9);
}
.switchDark .switch__innerActive {
  background: #de1149;
  box-shadow: -5px 5px 10px rgba(180, 14, 59, 0.2), 5px -5px 10px rgba(180, 14, 59, 0.2), -5px -5px 10px rgba(255, 20, 87, 0.9), 5px 5px 13px rgba(180, 14, 59, 0.9), inset 1px 1px 2px rgba(255, 20, 87, 0.3), inset -1px -1px 2px rgba(180, 14, 59, 0.5);
}

.footerButton, .footerButtonTwitter, .footerButtonDark {
  height: 100%;
  width: 151px;
  cursor: pointer;
  border: none;
  background: #eeeeee;
  box-shadow: 1px 1px 2px rgba(221, 221, 221, 0.2), -1px -1px 2px rgba(221, 221, 221, 0.2), 1px -1px 2px rgba(255, 255, 255, 0.9), -1px 1px 3px rgba(221, 221, 221, 0.9), inset -1px 1px 2px rgba(255, 255, 255, 0.3), inset 1px -1px 2px rgba(221, 221, 221, 0.5);
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #32383d;
  transition: all 300ms ease-in-out;
}
.footerButton:hover, .footerButtonTwitter:hover, .footerButtonDark:hover {
  font-weight: 900;
  transition: all 300ms ease-in-out;
  box-shadow: 8px 8px 16px rgba(221, 221, 221, 0.2), -8px -8px 16px rgba(221, 221, 221, 0.2), 8px -8px 16px rgba(255, 255, 255, 0.9), -8px 8px 20px rgba(221, 221, 221, 0.9), inset -1px 1px 2px rgba(255, 255, 255, 0.3), inset 1px -1px 2px rgba(221, 221, 221, 0.5);
}

.footerButtonDark {
  background: #32383d;
  box-shadow: 1px 1px 2px rgba(47, 52, 57, 0.2), -1px -1px 2px rgba(47, 52, 57, 0.2), 1px -1px 2px rgba(55, 60, 65, 0.9), -1px 1px 3px rgba(47, 52, 57, 0.9), inset -1px 1px 2px rgba(55, 60, 65, 0.3), inset 1px -1px 2px rgba(47, 52, 57, 0.5);
  color: #f9f9f9;
}
.footerButtonDark:hover {
  background: #32383d;
  box-shadow: 7px 7px 14px rgba(47, 52, 57, 0.2), -7px -7px 14px rgba(47, 52, 57, 0.2), 7px -7px 14px rgba(54, 60, 65, 0.9), -7px 7px 18px rgba(47, 52, 57, 0.9), inset -1px 1px 2px rgba(54, 60, 65, 0.3), inset 1px -1px 2px rgba(47, 52, 57, 0.5);
}

.profile, .image, .imageDark, .profileDark {
  padding: 7px;
  border-radius: 999px;
  background: #f9f9f9;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(220, 220, 220, 0.5), inset -5px 5px 10px rgba(220, 220, 220, 0.2), inset 5px -5px 10px rgba(220, 220, 220, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(220, 220, 220, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile img, .image img, .imageDark img, .profileDark img {
  border-radius: 999px;
}

.profileDark {
  background: #33383d;
  box-shadow: 1px 1px 2px rgba(61, 67, 73, 0.3), -1px -1px 2px rgba(41, 45, 49, 0.5), inset -5px 5px 10px rgba(41, 45, 49, 0.2), inset 5px -5px 10px rgba(41, 45, 49, 0.2), inset -5px -5px 10px rgba(61, 67, 73, 0.9), inset 5px 5px 13px rgba(41, 45, 49, 0.9);
}

.image, .imageDark {
  border-radius: 12px;
  padding: 10px;
  background: #f9f9f9;
  box-shadow: -5px 5px 10px rgba(232, 232, 232, 0.2), 5px -5px 10px rgba(232, 232, 232, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(232, 232, 232, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(232, 232, 232, 0.5);
}
.image img, .imageDark img {
  background-position: center;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 8px;
}

.imageDark {
  border-radius: 8px;
  background: #32383d;
  box-shadow: -5px 5px 10px rgba(41, 45, 49, 0.2), 5px -5px 10px rgba(41, 45, 49, 0.2), -5px -5px 10px rgba(61, 67, 73, 0.9), 5px 5px 13px rgba(41, 45, 49, 0.9), inset 1px 1px 2px rgba(61, 67, 73, 0.3), inset -1px -1px 2px rgba(41, 45, 49, 0.5);
}

.switch2, .switch2Dark {
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(220, 220, 220, 0.5), inset -5px 5px 10px rgba(220, 220, 220, 0.2), inset 5px -5px 10px rgba(220, 220, 220, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(220, 220, 220, 0.9);
  overflow: hidden;
  cursor: pointer;
}
.switch2__inner, .switch2Dark .switch2__inner, .switch2__innerActive, .switch2Dark .switch2__innerActive {
  height: 100%;
  width: 20px;
  border-radius: 10px;
  background: #32383d;
  transition: all 300ms ease-in-out;
}
.switch2__innerActive, .switch2Dark .switch2__innerActive {
  background: #de1149;
  box-shadow: -5px 5px 10px rgba(180, 14, 59, 0.2), 5px -5px 10px rgba(180, 14, 59, 0.2), -5px -5px 10px rgba(255, 20, 87, 0.9), 5px 5px 13px rgba(180, 14, 59, 0.9), inset 1px 1px 2px rgba(255, 20, 87, 0.3), inset -1px -1px 2px rgba(180, 14, 59, 0.5);
  transform: translateX(20px);
  transition: all 300ms ease-in-out;
}

.switch2Dark {
  background: #33383d;
  box-shadow: 1px 1px 2px rgba(61, 67, 73, 0.3), -1px -1px 2px rgba(41, 45, 49, 0.5), inset -5px 5px 10px rgba(41, 45, 49, 0.2), inset 5px -5px 10px rgba(41, 45, 49, 0.2), inset -5px -5px 10px rgba(61, 67, 73, 0.9), inset 5px 5px 13px rgba(41, 45, 49, 0.9);
}
.switch2Dark .switch2__inner, .switch2Dark .switch2__innerActive {
  background: rgba(249, 249, 249, 0.5);
}
.switch2Dark .switch2__innerActive {
  background: #de1149;
  box-shadow: -5px 5px 10px rgba(180, 14, 59, 0.2), 5px -5px 10px rgba(180, 14, 59, 0.2), -5px -5px 10px rgba(255, 20, 87, 0.9), 5px 5px 13px rgba(180, 14, 59, 0.9), inset 1px 1px 2px rgba(255, 20, 87, 0.3), inset -1px -1px 2px rgba(180, 14, 59, 0.5);
}

.progressWrapper, .progressWrapperDark {
  height: 8px;
  background: #f9f9f9;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(220, 220, 220, 0.5), inset -5px 5px 10px rgba(220, 220, 220, 0.2), inset 5px -5px 10px rgba(220, 220, 220, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(220, 220, 220, 0.9);
  border-radius: 99px;
  position: relative;
}
.progressWrapper .progress, .progressWrapperDark .progress, .progressWrapperDark .progressDark {
  height: 100%;
  background: #de1149;
  border-radius: 99px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms ease-in-out;
}
.progressWrapper__lines {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10 px;
  display: inline-flex;
  justify-content: space-between;
  position: relative;
  top: -10px;
}
.progressWrapper__lines div {
  width: 2px;
  height: 8px;
  background: url("https://tmdm.com.ar/u/dotted_lines.svg");
  margin-left: 10px;
}
.progressWrapper__lines div:nth-child(7) {
  opacity: 0;
}

.progressWrapperDark {
  background: #33383d;
  box-shadow: 1px 1px 2px rgba(61, 67, 73, 0.3), -1px -1px 2px rgba(41, 45, 49, 0.5), inset -5px 5px 10px rgba(41, 45, 49, 0.2), inset 5px -5px 10px rgba(41, 45, 49, 0.2), inset -5px -5px 10px rgba(61, 67, 73, 0.9), inset 5px 5px 13px rgba(41, 45, 49, 0.9);
}
.progressWrapperDark .progressDark {
  background: #de1149;
}

.tag, .tagDark {
  box-shadow: -5px 5px 10px rgba(232, 232, 232, 0.2), 5px -5px 10px rgba(232, 232, 232, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(232, 232, 232, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(232, 232, 232, 0.5);
  cursor: pointer;
  padding: 5px 12px;
  background: #f4f4f4;
  border-radius: 5px;
  border: none;
  color: #32383d;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Satoshi", sans-serif;
  margin: 10px 10px 10px 0;
}
.tag svg, .tagDark svg {
  margin-left: 7px;
  width: 15px;
  height: 15px;
}
.tag:hover, .tagDark:hover {
  color: #d31149 !important;
  transform: scale(1.07);
  transition: all 200ms ease-in-out;
}

.tagDark {
  background: #32383d;
  box-shadow: -5px 5px 10px rgba(41, 45, 49, 0.2), 5px -5px 10px rgba(41, 45, 49, 0.2), -5px -5px 10px rgba(61, 67, 73, 0.9), 5px 5px 13px rgba(41, 45, 49, 0.9), inset 1px 1px 2px rgba(61, 67, 73, 0.3), inset -1px -1px 2px rgba(41, 45, 49, 0.5);
}
.tagDark:hover {
  color: #d31149 !important;
  transform: scale(1.07);
  transition: all 200ms ease-in-out;
}

.addButton {
  cursor: pointer;
  background: #de1149;
  box-shadow: -5px 5px 10px rgba(180, 14, 59, 0.2), 5px -5px 10px rgba(180, 14, 59, 0.2), -5px -5px 10px rgba(255, 20, 87, 0.9), 5px 5px 13px rgba(180, 14, 59, 0.9), inset 1px 1px 2px rgba(255, 20, 87, 0.3), inset -1px -1px 2px rgba(180, 14, 59, 0.5);
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: none;
}
.addButton svg {
  height: 17px;
  width: 17px;
}

.steps, .stepsDark {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}

.stepsBar, .stepsDark .stepsBarDark {
  height: 8px;
  width: 20vw;
  border-radius: 9px;
  background: #f9f9f9;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(220, 220, 220, 0.5), inset -5px 5px 10px rgba(220, 220, 220, 0.2), inset 5px -5px 10px rgba(220, 220, 220, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(220, 220, 220, 0.9);
  margin: 0 15px;
}
.stepsBarActive {
  background: #de1149;
  box-shadow: unset;
}

.stepsNumber, .stepsDark .stepsNumberDark {
  border-radius: 999px;
  padding: 10px;
  overflow: hidden;
  background: #f9f9f9;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(220, 220, 220, 0.5), inset -5px 5px 10px rgba(220, 220, 220, 0.2), inset 5px -5px 10px rgba(220, 220, 220, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(220, 220, 220, 0.9);
}
.stepsNumberInner, .stepsDark .stepsNumberDark .stepsNumberInner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 999px;
  font-family: "Nasalization", sans-serif;
  line-height: 30px;
  background: #f9f9f9;
  box-shadow: -5px 5px 10px rgba(232, 232, 232, 0.2), 5px -5px 10px rgba(232, 232, 232, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(232, 232, 232, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(232, 232, 232, 0.5);
}
.stepsNumberInnerActive, .stepsDark .stepsNumberDark .stepsNumberInnerActive {
  color: #f9f9f9;
  background: #de1149;
  box-shadow: -5px 5px 10px rgba(180, 14, 59, 0.2), 5px -5px 10px rgba(180, 14, 59, 0.2), -5px -5px 10px rgba(255, 20, 87, 0.9), 5px 5px 13px rgba(180, 14, 59, 0.9), inset 1px 1px 2px rgba(255, 20, 87, 0.3), inset -1px -1px 2px rgba(180, 14, 59, 0.5);
}

.stepsDark .stepsBarDark {
  background: #33383d;
  box-shadow: 1px 1px 2px rgba(61, 67, 73, 0.3), -1px -1px 2px rgba(41, 45, 49, 0.5), inset -5px 5px 10px rgba(41, 45, 49, 0.2), inset 5px -5px 10px rgba(41, 45, 49, 0.2), inset -5px -5px 10px rgba(61, 67, 73, 0.9), inset 5px 5px 13px rgba(41, 45, 49, 0.9);
}
.stepsDark .stepsBarActive {
  background: #de1149;
  box-shadow: unset;
}
.stepsDark .stepsNumberDark {
  background: #33383d;
  box-shadow: 1px 1px 2px rgba(61, 67, 73, 0.3), -1px -1px 2px rgba(41, 45, 49, 0.5), inset -5px 5px 10px rgba(41, 45, 49, 0.2), inset 5px -5px 10px rgba(41, 45, 49, 0.2), inset -5px -5px 10px rgba(61, 67, 73, 0.9), inset 5px 5px 13px rgba(41, 45, 49, 0.9);
}
.stepsDark .stepsNumberDark .stepsNumberInner {
  background: #33383d;
  box-shadow: -5px 5px 10px rgba(41, 45, 49, 0.2), 5px -5px 10px rgba(41, 45, 49, 0.2), -5px -5px 10px rgba(61, 67, 73, 0.9), 5px 5px 13px rgba(41, 45, 49, 0.9), inset 1px 1px 2px rgba(61, 67, 73, 0.3), inset -1px -1px 2px rgba(41, 45, 49, 0.5);
  color: #f9f9f9;
}
.stepsDark .stepsNumberDark .stepsNumberInnerActive {
  background: #de1149;
  box-shadow: -5px 5px 10px rgba(180, 14, 59, 0.2), 5px -5px 10px rgba(180, 14, 59, 0.2), -5px -5px 10px rgba(255, 20, 87, 0.9), 5px 5px 13px rgba(180, 14, 59, 0.9), inset 1px 1px 2px rgba(255, 20, 87, 0.3), inset -1px -1px 2px rgba(180, 14, 59, 0.5);
}

.footerButtonTwitter {
  background: #00acee;
  width: 70px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -1px 1px 2px rgba(0, 160, 221, 0.2), 1px -1px 2px rgba(0, 160, 221, 0.2), -1px -1px 2px rgba(0, 184, 255, 0.9), 1px 1px 3px rgba(0, 160, 221, 0.9), inset 1px 1px 2px rgba(0, 184, 255, 0.3), inset -1px -1px 2px rgba(0, 160, 221, 0.5);
}
.footerButtonTwitter:hover {
  box-shadow: unset;
}