@import 'variables.scss';
// .button {
//   background: #de1149;
//   border: 1px solid rgba(255, 255, 255, 0.2);
//   box-shadow: -3px 3px 6px rgba(213, 16, 70, 0.2),
//     3px -3px 6px rgba(213, 16, 70, 0.2), -3px -3px 6px rgba(231, 18, 76, 0.9),
//     3px 3px 8px rgba(213, 16, 70, 0.9), inset 1px 1px 2px rgba(231, 18, 76, 0.3),
//     inset -1px -1px 2px rgba(213, 16, 70, 0.5);
//   border-radius: 12px;
// }
.buttonDark {
  @extend .button;
  color: $bg;
  background: $dark-button;
  box-shadow: $dark-button-s;
  &:hover {
    box-shadow: $dark-button-s-h;
  }
}

.link {
  font-family: 'Satoshi', sans-serif;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  color: $sec;
  transition: all 300ms ease-in-out;
  &:hover {
    transition: all 300ms ease-in-out;
    color: $main;
    text-decoration: underline;
  }
}
.linkDark {
  @extend .link;
  color: $bg;
  &:hover {
    color: $main;
  }
}
.iconButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: none;
  background: $button;
  box-shadow: $button-shadow;
  transition: all 300ms ease-in-out;
  &:hover {
    transition: all 300ms ease-in-out;
    box-shadow: $button-shadow-h;
  }
  &Dark {
    @extend .iconButton;
    background: $dark-button;
    box-shadow: $dark-button-s;
    &:hover {
      box-shadow: $dark-button-s-h;
    }
  }
  &Main {
    @extend .iconButton;
    background: $main;
    box-shadow: -2px 2px 4px rgba(200, 15, 66, 0.2),
      2px -2px 4px rgba(200, 15, 66, 0.2), -2px -2px 4px rgba(244, 19, 80, 0.9),
      2px 2px 5px rgba(200, 15, 66, 0.9),
      inset 1px 1px 2px rgba(244, 19, 80, 0.3),
      inset -1px -1px 2px rgba(200, 15, 66, 0.5);
    &:hover {
      box-shadow: -4px 4px 8px rgba(200, 15, 66, 0.2),
        4px -4px 8px rgba(200, 15, 66, 0.2),
        -4px -4px 8px rgba(244, 19, 80, 0.9),
        4px 4px 10px rgba(200, 15, 66, 0.9),
        inset 1px 1px 2px rgba(244, 19, 80, 0.3),
        inset -1px -1px 2px rgba(200, 15, 66, 0.5);
    }
  }
}

.rounded {
  border-radius: 999px;
}

.navbarBtn {
  cursor: pointer;
  @extend .iconButton;
  @extend .rounded;
  height: 50px;
  width: 50px;
  & svg {
    width: 30px;
    height: 30px;
  }
  &Dark {
    @extend .iconButtonDark;
    @extend .rounded;
    width: 50px;
    height: 50px;
  }

  &Active {
    @extend .iconButton;
    padding: 0 15px;
    width: fit-content;
    height: 50px;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    background: $input;
    box-shadow: $input-shadow;
    font-family: 'Nasalization', 'Satoshi', sans-serif;
    color: $main;
    & svg {
      margin-right: 10px;
    }
    &Dark {
      @extend .navbarBtnActive;
      background: $input-dark;
      box-shadow: $input-dark-s;
      &:hover {
        box-shadow: $dark-flat;
      }
    }
  }
}
.inputWrapper {
  position: relative;
  width: 250px;
  display: block;
  margin-bottom: 20px;
}
.input {
  max-width: 250px;
  height: 50px;
  line-height: 50px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 0 60px 0 20px;
  border: none;
  border-radius: 8px;
  background: $input;
  box-shadow: $input-shadow;
  transition: all 300ms ease-in-out;
  &:focus {
    outline: none;
    box-shadow: $input-shadow-h;
    transition: all 300ms ease-in-out;
  }
  & ~ svg {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
}
.inputDark {
  @extend .input;
  background: $input-dark;
  box-shadow: $input-dark-s;
  color: $bg;
  &:focus {
    outline: none;
    box-shadow: $dark-flat;
  }
}
.textareaproperties {
  padding: 25px 20px;
  line-height: 20px;
  width: 200px;
  height: 100px;
  min-width: 200px;
  max-width: 200px;
  min-height: 150px;
  max-height: 300px;
  transition: none;
}
.textarea {
  @extend .input;
  @extend .textareaproperties;
  &Dark {
    @extend .inputDark;
    @extend .textareaproperties;
  }
}

.radio {
  background: $input;
  box-shadow: $input-shadow;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  overflow: hidden;
  &__inner {
    width: 0px;
    height: 0px;
    border-radius: 999px;
    transition: all 300ms ease-in-out;
    &Active {
      border-radius: 999px;
      background: $main;
      box-shadow: $main-shadow;
      transition: all 300ms ease-in-out;
      width: 20px;
      height: 20px;
    }
  }
  &Dark {
    @extend .radio;
    background: $input-dark;
    box-shadow: $input-dark-s;
    & .radio__inner {
      @extend .radio__inner;
      &Active {
        @extend .radio__innerActive;
        background: $main;
        box-shadow: $main-shadow;
      }
    }
  }
}

.checkbox {
  @extend .radio;
  border-radius: 8px;

  &__inner {
    @extend .radio__inner;
    border-radius: 8px;
    &Active {
      border-radius: 8px;
      @extend .radio__innerActive;
      width: 20px;
      height: 20px;
    }
  }
}

.checkboxDark {
  @extend .checkbox;
  background: $input-dark;
  box-shadow: $input-dark-s;
  & .checkbox__inner {
    @extend .checkbox__inner;
    &Active {
      @extend .checkbox__innerActive;
      background: $main;
      box-shadow: $main-shadow;
    }
  }
}

.spotlight {
  @extend .radio;
  width: 79px;
  height: 79px;

  &__inner {
    @extend .radio__inner;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: $button;
    box-shadow: $button-shadow;

    &Active {
      @extend .spotlight__inner;
      width: 54px;
      height: 54px;
      background: $main;
      box-shadow: $main-shadow;
    }
  }
}

.spotlightDark {
  @extend .spotlight;
  background: $input-dark;
  box-shadow: $input-dark-s;
  & .spotlight__inner {
    @extend .spotlight__inner;
    background: $dark-button;
    box-shadow: $dark-button-s;
    &Active {
      @extend .spotlight__innerActive;
      background: $main;
      box-shadow: $main-shadow;
    }
  }
}

.select__inner {
  font-family: 'Satoshi', sans-serif;
  background: $button;
  box-shadow: $button-shadow;
  color: #171717;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 30px;
  padding: 0 20px;
  height: 40px;
  width: 200px;
  margin-bottom: 20px;
  transition: all 300ms ease-in-out;
  &Dark {
    @extend .select__inner;
    color: $bg;
    background: $dark-button;
    box-shadow: $dark-button-s;
  }
}

.select__options {
  cursor: pointer;
  background: $bg;
  background: $button;
  box-shadow: $button-shadow;
  overflow: hidden;
  width: 240px;
  border-radius: 8px;
  margin-bottom: 20px;
  & div {
    padding: 0 40px;
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    line-height: 50px;
    &:hover {
      cursor: pointer;
      font-weight: 900;
      background: #d9d9d930;
    }
  }
}

.select__optionsDark {
  @extend .select__options;
  background: $dark-button;
  box-shadow: $dark-button-s;

  & div {
    color: $bg;
    &:hover {
      background: #d9d9d930;
    }
  }
}

.switch {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 106px;
  height: 40px;
  padding: 9px;
  border-radius: 12px;
  background: $bg;
  box-shadow: $input-shadow;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    &Active {
      @extend .switch__inner;
      background: $main;
      box-shadow: $main-shadow;
      border-radius: 8px;
      transition: all 300ms ease-in-out;
    }
  }
}

.switchDark {
  @extend .switch;
  background: $input-dark;
  box-shadow: $input-dark-s;
  & .switch__inner {
    @extend .switch__inner;
    &Active {
      @extend .switch__innerActive;
      background: $main;
      box-shadow: $main-shadow;
    }
  }
}

.footerButton {
  height: 100%;
  width: 151px;

  cursor: pointer;

  border: none;
  background: #eeeeee;
  box-shadow: 1px 1px 2px rgba(221, 221, 221, 0.2),
    -1px -1px 2px rgba(221, 221, 221, 0.2),
    1px -1px 2px rgba(255, 255, 255, 0.9), -1px 1px 3px rgba(221, 221, 221, 0.9),
    inset -1px 1px 2px rgba(255, 255, 255, 0.3),
    inset 1px -1px 2px rgba(221, 221, 221, 0.5);

  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: $sec;
  transition: all 300ms ease-in-out;
  &:hover {
    font-weight: 900;
    transition: all 300ms ease-in-out;
    box-shadow: 8px 8px 16px rgba(221, 221, 221, 0.2),
      -8px -8px 16px rgba(221, 221, 221, 0.2),
      8px -8px 16px rgba(255, 255, 255, 0.9),
      -8px 8px 20px rgba(221, 221, 221, 0.9),
      inset -1px 1px 2px rgba(255, 255, 255, 0.3),
      inset 1px -1px 2px rgba(221, 221, 221, 0.5);
  }
}
.footerButtonDark {
  @extend .footerButton;

  background: #32383d;
  box-shadow: 1px 1px 2px rgba(47, 52, 57, 0.2),
    -1px -1px 2px rgba(47, 52, 57, 0.2), 1px -1px 2px rgba(55, 60, 65, 0.9),
    -1px 1px 3px rgba(47, 52, 57, 0.9), inset -1px 1px 2px rgba(55, 60, 65, 0.3),
    inset 1px -1px 2px rgba(47, 52, 57, 0.5);
  color: $bg;
  &:hover {
    background: #32383d;
    box-shadow: 7px 7px 14px rgba(47, 52, 57, 0.2),
      -7px -7px 14px rgba(47, 52, 57, 0.2), 7px -7px 14px rgba(54, 60, 65, 0.9),
      -7px 7px 18px rgba(47, 52, 57, 0.9),
      inset -1px 1px 2px rgba(54, 60, 65, 0.3),
      inset 1px -1px 2px rgba(47, 52, 57, 0.5);
  }
}

.profile {
  width: fit-content;
  padding: 7px;
  border-radius: 999px;
  background: $bg;
  box-shadow: $input-shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 999px;
  }
}
.profileDark {
  @extend .profile;
  background: $input-dark;
  box-shadow: $input-dark-s;
}
.image {
  @extend .profile;
  border-radius: 12px;
  padding: 10px;
  background: $bg;
  box-shadow: $light-flat;
  img {
    background-position: center;
    background-size: cover;
    object-fit: fill;
    border-radius: 8px;
  }
}

.imageDark {
  @extend .image;
  border-radius: 8px;
  background: $sec;
  box-shadow: $dark-flat;
}

.switch2 {
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background: $bg;
  box-shadow: $input-shadow;
  overflow: hidden;
  cursor: pointer;
  &__inner {
    height: 100%;
    width: 20px;
    border-radius: 10px;
    background: $sec;
    transition: all 300ms ease-in-out;

    &Active {
      @extend .switch2__inner;
      background: $main;
      box-shadow: $main-shadow;
      transform: translateX(20px);
      transition: all 300ms ease-in-out;
    }
  }
}

.switch2Dark {
  @extend .switch2;
  background: $input-dark;
  box-shadow: $input-dark-s;
  & .switch2__inner {
    @extend .switch2__inner;
    background: rgba($bg, 0.5);
    &Active {
      @extend .switch2__innerActive;
      background: $main;
      box-shadow: $main-shadow;
    }
  }
}

.progressWrapper {
  height: 8px;
  background: $bg;
  box-shadow: $input-shadow;
  border-radius: 99px;
  position: relative;
  margin-top: 30px;
  .progress {
    height: 100%;
    background: $main;
    border-radius: 99px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
  }
  &__lines {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10 px;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    top: -10px;
    & div {
      width: 2px;
      height: 8px;
      background: url('https://tmdm.com.ar/u/dotted_lines.svg');
      margin-left: 10px;
      &:nth-last-child(1) {
        opacity: 0;
      }
    }
  }
}

.progressWrapperDark {
  @extend .progressWrapper;
  background: $input-dark;
  box-shadow: $input-dark-s;
  .progressDark {
    @extend .progress;
    background: $main;
  }
}

.tag {
  box-shadow: $light-flat;
  cursor: pointer;
  padding: 5px 12px;
  background: #f4f4f4;
  border-radius: 5px;
  border: none;
  color: $sec;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Satoshi', sans-serif;
  margin: 10px 10px 10px 0;
  svg {
    margin-left: 7px;
    width: 15px;
    height: 15px;
  }
  &:hover {
    color: #d31149 !important;
    transform: scale(1.07);
    transition: all 200ms ease-in-out;
  }
}

.tagDark {
  @extend .tag;
  background: $sec;
  box-shadow: $dark-flat;
  &:hover {
    color: #d31149 !important;
    transform: scale(1.07);
    transition: all 200ms ease-in-out;
  }
}

.addButton {
  cursor: pointer;
  background: $main;
  box-shadow: $main-shadow;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: none;
  svg {
    height: 17px;
    width: 17px;
  }
}

.steps {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}
.stepsBar {
  height: 8px;
  width: 20vw;
  border-radius: 9px;
  background: $bg;
  box-shadow: $input-shadow;
  margin: 0 15px;
  &Active {
    background: $main;
    box-shadow: unset;
  }
}
.stepsNumber {
  border-radius: 999px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: $bg;
  box-shadow: $input-shadow;
  &Inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 999px;
    font-family: 'Nasalization', sans-serif;
    line-height: 30px;
    background: $bg;
    box-shadow: $light-flat;
    &Active {
      color: $bg;
      background: $main;
      box-shadow: $main-shadow;
    }
  }
}

.stepsDark {
  @extend .steps;
  .stepsBarDark {
    @extend .stepsBar;
    background: $input-dark;
    box-shadow: $input-dark-s;
  }
  .stepsBarActive {
    background: $main;
    box-shadow: unset;
  }
  .stepsNumberDark {
    @extend .stepsNumber;
    background: $input-dark;
    box-shadow: $input-dark-s;
    & .stepsNumberInner {
      @extend .stepsNumberInner;
      background: $input-dark;
      box-shadow: $dark-flat;
      color: $bg;
      &Active {
        @extend .stepsNumberInnerActive;
        background: $main;
        box-shadow: $main-shadow;
      }
    }
  }
}

.footerButtonTwitter {
  @extend .footerButton;
  background: #00acee;
  width: 70px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -1px 1px 2px rgba(0, 160, 221, 0.2),
    1px -1px 2px rgba(0, 160, 221, 0.2), -1px -1px 2px rgba(0, 184, 255, 0.9),
    1px 1px 3px rgba(0, 160, 221, 0.9), inset 1px 1px 2px rgba(0, 184, 255, 0.3),
    inset -1px -1px 2px rgba(0, 160, 221, 0.5);
  &:hover {
    box-shadow: unset;
  }
}

.flatBox {
  background: $bg;
  box-shadow: $light-flat;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
  &Dark {
    @extend .flatBox;
    background: $input-dark;
    box-shadow: $dark-flat;
  }
}

.navbarLight {
  width: calc(100vw - 80px);
  height: 70px;
  background: rgba($bg, 0.3);
  backdrop-filter: blur(10px);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  section:nth-child(1) {
    svg {
      display: none;
    }
  }
  section:nth-child(2) {
    display: flex;
  }
  section:nth-child(3),
  section:nth-child(4) {
    display: none;
  }
  section {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    button {
      margin-left: 30px;
    }
    h2 {
      font-family: 'Nasalization', sans-serif;
      font-size: 1.5rem;
      margin: -3px 0 0 0;
      color: $sec;
      b {
        color: $main;
      }
    }
  }
}

.navbarDark {
  @extend .navbarLight;
  background: rgba($sec, 0.3);
  backdrop-filter: blur(10px);
  section {
    h2 {
      color: $bg;
    }
  }
}

.footer {
  width: calc(100% - 80px);
  height: 59px;
  background: $bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: relative;
  z-index: 9999;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
  overflow: hidden;
  section {
    height: 59px;
    button {
      margin-right: 20px;
    }
  }
}
.footerDark {
  @extend .footer;
  background: $sec;
  section {
    button {
      margin-right: 20px;
    }
  }
}

@media (max-width: 768px) {
  .navbarLight {
    display: flex;
    flex-direction: column;
    height: fit-content;
    section:nth-child(1) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      svg {
        cursor: pointer;
        display: block;
      }
    }
    section:nth-child(2) {
      display: none;
    }
    section:nth-child(4) {
      margin-top: 40px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        margin-left: 0;
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    section {
      height: fit-content;
      padding: 20px 0;
      button {
        width: calc(100vw - 40px);
        margin: 5px 0;
        height: 40px;
        
      }
    }
  }
}
.buttonSm{
  padding: 12px 30px;
  gap: 5px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.altFont{
  font-family: "Nasalization", Helvetica, sans-serif;
}
.buttonFill{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
